nav {
    margin-bottom: 25px;
}

nav ul {
    margin-right: 50px;
}

nav li:last-child {
    padding-right: 125px;
}

nav li:first-child {
    padding-right: 35px;
}

nav li {
    padding-right: 10px;
}